header {
    background-color: gainsboro;
    width: 100%;
    position: fixed;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    column-gap: 50px;
    border: 0px solid;
    height: 30px;
    margin: 0 0 0 0;
    padding:0 0 0 0;
}

.header-one {
}

.header-two {
    width: 80%;
    height: 20px;
    box-sizing: content-box;
    align-content: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: lightslategray;
}

.header-three {
}



.square-1, .square-4, .square-5, .square-6 {
    width: 30px;
}
.square-1 {
    padding-right: 8%;
}
.square-4 {
    padding-right: 20px;
}
.square-5 {
    padding-right: 20px;
}
.square-6 {
    padding-right: 20px;
}

.square-2, .square-3 {
    width: 50px;
}
.square-3 {
    padding-right: 20px;
}

.logo {
    width: 90px;
}

.button-s {
    height: 20px;
    width: 10px;
    box-sizing: content-box;
    align-content: center;
    vertical-align: middle;
  }

.img-src {
    width: 22px;
    height: 22px;
}

body {
    background-color: gainsboro;
}

  

